{% extends "base.html.twig" %}
{% block content %}
    <h1 class="h4 mb-3">Fizetés (demo)</h1>
    <p>{{ message }}</p>
    <p>Ez egy demo oldal. Itt jönne a fizetési folyamat (Simplepay/barion stb.).</p>
    <a class="btn btn-secondary" href="/kosar">Vissza a kosárhoz</a>
{% endblock %}
