{% extends "base.html.twig" %}
{% block content %}
   <div class="row">
       <div class="col-12">
           <div class="card">
               <div class="card-body text-center">
                   <h1>404</h1>
                   <p>Az oldal nem található!</p>
                   <p><a class="btn btn-success" href="/">Vissza a főoldalra</a></p>
               </div>
           </div>
       </div>
   </div>
{% endblock %}
